
/* Landing Page */
.landing {
  position: relative;
  background: url('../../main-cover.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
