
.btn {
  display: inline-block;
  background: var(--light-color);
  border-radius: 4px;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn.btn-sm {
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-warning {
  background: var(--warning-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}
