.form-control {
  margin: 1rem 0;
}

.form-control select {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control select {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.325rem 0.25rem;
}

.form-control select:focus {
  outline: none;
  background: #ebebeb;
  border-color: var(--primary-color);
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid select {
  border-color: red;
  background: #ffd1d1;
}
