@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --warning-color: #dc8335;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

main {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-dark {
  color: var(--dark-color);
}


/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form-group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group-row .form-group {
  width: 48%;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lists Page */
.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-filter {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.list-filter .form-control {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

.list-filter .form-control label {
  margin-right: 10px;
  color: var(--primary-color);
}

.list-filter select {
  margin-right: 0.6rem;
  margin-top: 0.3rem;
}

.list-header .btn{
  height: 37px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.list-box {
  display: flex;
  height: 415px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.list-box .fa-star {
  color: var(--primary-color);
}

.list-box.user-list {
  height: 230px;
}

.list-box a,
.list-box button {
  float: right;
}

.list-box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.list-box-image img {
  height: auto;
  width: 100%;
}

/* Profile Page */
.list-box-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.list-box-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list-box-top img {
  width: 250px;
}

.list-box-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.list-box-top .icons a:hover {
  color: var(--dark-color);
}

.list-box-about {
  grid-area: about;
  text-align: center;
}


/* Restaurant Page */
.restaurant {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* restaurant Page */
.sort-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'best worst'
    'review review';
  grid-gap: 1rem;
}

.review-grid {
  display: grid;
  grid-template-areas: 'review review';
  grid-gap: 1rem;
}

.restaurant-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.restaurant-top img {
  width: 400px;
  height: auto;
}

.restaurant-about {
  grid-area: about;
  text-align: center;
}

.review-best {
  grid-area: best;
}

.review-worst {
  grid-area: worst;
}

.review-best h2,
.review-worst h2 {
  margin-bottom: 1rem;
}

.review-best > div,
.review-worst > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.review-best > div:last-child,
.review-worst > div:last-child {
  border: 0;
}

.review-best p,
.review-worst p {
  margin: 0.5rem 0;
}

.section-reviews {
  grid-area: review;
  position: relative;
}

.section-reviews .repo {
  display: flex;
}

.section-reviews .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.section-reviews > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
